{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mb-4 boja">O nama</h2>

            <p class="lead text-center">
                Dobrodošli u <strong class="boja">ZdravPaw</strong> – vašu pouzdanu veterinarsku ambulantu posvećenu
                zdravlju i sreći
                vaših ljubimaca.
            </p>

            <hr>

            <h4 class="mt-4 boja">Naša misija</h4>
            <p>
                Naš cilj je pružiti visokokvalitetnu veterinarsku negu i savetovanje, sa ljubavlju i pažnjom prema
                svakom pacijentu.
            </p>

            <h4 class="mt-4 boja">Naš tim</h4>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">👩‍⚕️ Dr Ana Petrović – veterinar sa 10 godina iskustva</li>
                <li class="list-group-item">👨‍⚕️ Dr Marko Jovanović – specijalista za interne bolesti</li>
                <li class="list-group-item">🧑‍🔬 Milica Kovač – veterinarski tehničar</li>
            </ul>

            <h4 class="mt-4 boja">Zašto izabrati nas?</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">🔬 Moderni medicinski uređaji</li>
                <li class="list-group-item">🐾 Prijatan i topao pristup ljubimcima</li>
                <li class="list-group-item">⏰ Hitne intervencije 24/7</li>
                <li class="list-group-item">🎓 Kvalifikovani stručnjaci</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}