{% extends 'base.html' %}
{% block content %}

<section class="hero-section text-center py-5 bg-light">
    <div class="container">
        <h1 class="display-4 mb-3">Dobrodošli u ZdravPaw – mesto gde zdravlje vaše ljubimce stavimo na prvo mesto!</h1>
        <p class="lead mb-4">
            Verujemo da svaka životinja zaslužuje pažnju, ljubav i najbolju negu. Naš stručni tim veterinara je tu da
            pruži
            sve što je potrebno vašem četvoronožnom prijatelju – od redovnih pregleda do hitnih intervencija.
            Zajedno, brinemo o njihovom zdravlju kao da su naši najbliži članovi porodice.
        </p>
        <p class="mb-5">
            Pridružite se stotinama zadovoljnih vlasnika i učinite prvi korak ka zdravijem i srećnijem životu vaše
            životinje.
            Zakažite pregled brzo i jednostavno preko našeg sistema!
        </p>
        <a href="{{ url_for('zakazi') }}" class="btn custom-green-btn btn-lg px-5 py-3 shadow-sm">
            🐾 Zakaži pregled
        </a>
    </div>
</section>

{% endblock %}